///**MIXIN**///
@mixin dfc {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin dfa {
    display: flex;
    align-items: center;
}
@mixin dfj {
    display: flex;
    justify-content: center;
}

$bg-tf:#1482F9;
$bg-fb: #303030;
$bg-content: #1C1C1C